<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div>
            <form action="/login" method="post">
                <label for="idid">Id
                    <input id="idid" type="text" name="id">
                </label><br>
                <label for="username">Username
                    <input id="username" type="text" name="username">
                </label><br>
                <label for="password">Password
                    <input id="password" type="password" name="password">
                </label><br>
                <input type="submit" value="SEND">
            </form>
        </div>

    </body>
</html>